<!DOCTYPE html>
<html>
<head>
    <title>Добро пожаловать | Wissspik</title>
</head>
<body>
    <h1>Вход</h1>
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <label for="name">Логин:</label>
        <input type="password" id="name" name="name" required>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Войти</button>
        <button type="button" onclick="window.location.href='http://127.0.0.1:8000/regis/';">Регистация</button>
    </form>
</body>
</html>