{% extends 'base.html' %}

{% block content %}
    <style>
        /* Контейнер для кнопок с отступом между ними */
        .button-container {
            display: flex;
            gap: 100px; /* Расстояние между кнопками */
            justify-content: left; /* Выравнивание по центру */
            margin-top: 50px; /* Отступ сверху (при необходимости) */
            margin-left: 50px;
        }
        /* Стили для кнопок */
        .button-container button {
            padding: 10px 20px;
            background-color: #4CAF50;  /* Зелёный фон */
            color: #fff;                /* Белый текст */
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        /* Эффект при наведении */
        .button-container button:hover {
            background-color: #45a049;
        }
    </style>

    <div class="button-container">
        <button type="button" onclick="window.location.href='http://127.0.0.1:8000/focus/articles/';">
            Создать статью
        </button>
        <button type="button" onclick="window.location.href='http://127.0.0.1:8000/focus/articles/list/';">
            Список статей
        </button>
    </div>
{% endblock %}
