<!DOCTYPE html>
<html>
<head>
    <title>Регистрация | Wissspik</title>
</head>
<body>
    <h1>Регистрация</h1>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li style="color:
                {% if message.tags == 'error_users' %}
                    red;
                {% elif message.tags == 'error_password' %}
                    red;
                {% elif message.tags == 'success' %}
                    green;
                {% else %}
                    black;
                {% endif %}">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post" action="{% url 'registration_1' %}">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Это автоматически отрендерит форму, включая все поля и их валидацию -->
    <button type="submit">Регистрация</button>
    </form>
    <body>
</html>
